@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//colors

$primeColor:#046D38ED;
$secondColor : #252525;
$thirdColor :#000000 ;
$fourthColor:#ffffff;
$fifthColor:#ffbb00;

//Fonts

.Autocomplete{
    background-color:$fourthColor ;
    border-radius: 15px;
    border: none ;
    outline: none;
}

.MuiFormLabel-root{
    font-size:.9rem!important;;
    color:$thirdColor!important;;
}

.MuiFormLabel-root::before {
    font-size:.9rem!important;;
    color:$thirdColor!important;;
}

.card{
    display: flex;
    width: 21vw;
    text-align: center;
    text-decoration: none;
    
    .link{
        text-decoration: none;
        color: $thirdColor;
        font-size: 1rem;
        font-weight: 800;
        // text-shadow: $fifthColor 1px 1px 2px;
    }
    .img{
        width:7vw !important;
        height: auto !important;
        border-radius: 50%;
        border:  2px solid $fifthColor;
        object-fit: contain;
    }
}

@media  screen and  (max-width:1100px) {
    .card{
        display: flex;
        width: 100%;
        text-align: center;
        text-decoration: none;
        
        .link{
            text-decoration: none;
            color: $thirdColor;
            font-size: 1rem;
            font-weight: 800;
            // text-shadow: $fifthColor 1px 1px 2px;
        }
        .img{
            width:30% !important;
            height: auto !important;
            border-radius: 50%;
            border:  2px solid $fifthColor;
            object-fit: contain;
    }
}
}