@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//colors

$primeColor:#046D38ED;
$secondColor : #252525;
$thirdColor :#000000 ;
$fourthColor:#ffffff;
$fifthColor:#ffbb00;

.Payment{
  padding-top: 150px;
  width: 90vw;
  height: auto;
  margin-bottom: 1100px;
  display: flex;
  justify-content: center;
  .wrapper{
    background-color: lightgray;
    padding: 100px;
    border-radius: 10px;
    input{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      padding: 15px;
      font-weight: 700;
      font-size: 20px;
      background-color: $primeColor;
      border-radius: 15px;
      border: none;
      color: $fourthColor;
      border: 2px solid $fifthColor;
      width: auto;
      
    }
  }
}
.Google_pay{
  display: flex;
  justify-content: center;
  .Google_btn{
    height: 60px;
    
  }
}